body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.main {
  width:90%;
}

.navbar-icon img {
  margin-top: 9px;
  margin-right: 9px;
}

.share-button {
  padding: 0px;
  margin-top: 1.4%;
  margin-bottom: 1.4%;
}

.share-button button {
  width: 100%;
}

.share {
  margin-top: 1.4%;
  margin-right: -3%;
}

.post-row {
  margin-top: 5%;
  margin-bottom: 1%;
  background-color: #f5f5f5;
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
}

.post-image img {
  border: solid;
  border-color: lightgrey;
}
.post-comments-likes {
  margin-top: 2%;
}
.post-owner-description {
  border-style: hidden;
}

#pointer {
  border: solid 10px transparent;
  border-right-color: white;
  position: absolute;
  margin:-92px 0 0 -40px;
}

.post-information {
  background-color: white;
  border-radius: 1%;
  margin-top: 2%;
  margin-left: -2%;
  margin-bottom: 2%;
}

.post-profile-picture {
  margin-top: 2%;
}

.post-profile-picture img {
  width: 70px;
  height: 70px;
  border-width: thin;
  border-style: ridge;
}

.picture-share-something {
  margin-left: 2%;
  margin-right: -2%;
}
.picture-share-something img {
  width: 50px;
  height: 50px;
  border-width: thin;
  border-style: ridge;
}

.feed-space {
  padding-right: 4%;
  padding-left: 4%;
}

.post-row {
  margin-top: 0%;
}

.event-row {
	padding: 5%;
	background-color: #f5f5f5;
	margin-bottom: 5px;
	border-radius: 10%;
	width: 100%;
}

.group-row {
	padding: 5%;
	background-color: #f5f5f5;
	margin-bottom: 5px;
	border-radius: 10%;
	width: 100%;
}