.hidden {
  display: none;
}

.main {
  width: 90%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.panel-content {
 padding: 2%;
}

.navbar-icon img {
  margin-top: 9px;
  margin-right: 9px;
}

.vcenter {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.border {
  border-style: solid;
}

.message-box img {
  width:60px;
  height:60px;
}

.message-profile-picture img {
  width:40px;
  height:40px;
  margin-top:10%;
  margin-bottom:5%;
}

.message-content {
  margin-left: -2%;
}

.profile-picture {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
}

.profile-name {
  color: #428bca;
}

.message-box {
  border-bottom-style: solid;
  border-color: lightgrey;
  border-width: thin;
}

.message-box#number1 {
  background-color: lightgrey;
}

.last-message p{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
